<form #formulario="ngForm" (ngSubmit)="salvar(formulario)" class="mb-3">
    <p>{{ doutor.nome }}</p>
    <select #consultaInput="ngModel" required [compareWith]="byId" class="form-select" name="consulta" [(ngModel)]="ticket.consulta">
        <option [ngValue]="undefined">Selecione...</option>
        <option *ngFor="let consultaItem of doutor?.consultas" [ngValue]="consultaItem">{{ consultaItem.nomeConsulta }}</option>
    </select>
    
    <div class="d-flex justify-content-center mt-2">
        <button type="submit" class="salvar">Salvar</button>
    </div>
</form>