<nav class="d-flex justify-content-center pt-3 h-100 bg-body-secondary borda">
    <div class="w-100 p-2">
        <section class="nav flex-column mt-5 w-100">
            <ul class="menu">
                <li class="menu_item" (click)="navigateTo('home')" [class.active]="router.url === '/home'"><span class="m-2">Home</span></li>
                <li class="menu_item" (click)="togglePerfilAccordion()">
                    <span class="m-2">Perfil</span>
                    <ul class="perfil" *ngIf="perfil">
                        <li class="perfil_item" (click)="navigateTo('perfil/dados')" [class.active]="router.url === '/perfil/dados'">Dados</li>
                        <li class="perfil_item" (click)="navigateTo('perfil/services')" [class.active]="router.url === '/perfil/services'">Serviços</li>
                        <li class="perfil_item" (click)="navigateTo('perfil/horarios')" [class.active]="router.url === '/perfil/horarios'">Horários</li>
                    </ul>
                </li>
            </ul>
            <a class="sair text-center" href="/#/login">Sair</a>
        </section>
    </div>
</nav>