img{
    background-color: transparent;
    border: none;
    height: 2.2rem;
    width: 2rem;
}
button{
    background-color: transparent;
    border: none;
}
button:hover{
    border-radius: 45%;
    background-color: #ccc;
}