img{
    background-color: transparent;
    border: none;
    height: 2.2rem;
    width: 2rem;
}
button{
    background-color: transparent;
    border: none;
}
button:hover{
    border-radius: 45%;
    background-color: #ccc;
}
label{
    display: flex;
    font-size: 20px;
}
.scroll{
    max-height: 100%;
    overflow-y: auto;
}
.adicionar{
    background-color: aqua;
    border-radius: 1rem;
}
.adicionar:hover{
    background-color: #ccc;
    border-radius: 1rem;

}