<div>
    <article>
        <div *ngIf="loginService.getUser().role == 'PACIENTE'"
            class="col-lg-12 w-100 h-100 container d-flex flex-column justify-content-center m-0 align-items-center">
            <div class="col-lg-10 d-flex justify-content-between">
                <div class="col-lg-5">
                    <label for="">Data de nacimento:</label>
                    <div class="d-flex align-items-center text-center justify-content-between" *ngIf="!editar">
                        <p class="m-0 p-0">{{ paciente.dataNacimento }}</p>
                        <button (click)="editarPaciente(paciente)"><img src="../../../assets/editar.svg"></button>
                    </div>
                    <form class="d-flex align-items-center text-center justify-content-between" *ngIf="editar">
                        <input type="text" id="nome" [(ngModel)]="paciente1.dataNacimento">
                        <button (click)="salvarPaciente()">Salvar</button>
                        <button (click)="dezativarModoEdicao()">Cancelar</button>
                    </form>
                    <hr>
                </div>
                <!-- <div class="col-lg-5">
                    <label for="">Nome:</label>
                    <div class="d-flex align-items-center text-center justify-content-between">
                        <p class="m-0 p-0">{{ paciente.nome }}</p>
                        <button><img src="../../../assets/editar.svg"></button>
                    </div>
                    <hr>
                </div> -->
            </div>
        </div>
    </article>
</div>


<div *ngIf="loginService.getUser().role == 'DOUTOR'">
    <p>RG do Doutor: {{doutor.rg}}</p>
</div>